In [ ]:
# 1. Import the customer data into python

In [1]:
import pandas as pd
import datetime as dt

In [117]:
dt.datetime

datetime.datetime

In [2]:
cust=pd.read_csv("C:\Users\hp\Downloads\Customers.csv")
cust.head(5)

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed
0,129609144,M,20130130,West,Gujarat,Surat,20130216,West,Gujarat,Surat,2032.0,2,200.0,0.0
1,129627580,M,20130129,North,Delhi,Delhi,20130129,North,Delhi,Delhi,1709.0,1,100.0,0.0
2,130363481,M,20130221,West,Gujarat,Surat,20130221,West,Gujarat,Surat,523.0,1,10.0,0.0
3,49817480,M,20130222,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,5132.0,1,170.0,0.0
4,126343829,F,20130301,North,Delhi,Delhi,20130301,North,Delhi,Delhi,1008.0,1,60.0,0.0

In [ ]:
#2. Understand the data using different functions and attributes like shape, index, columns, dtypes.ndim, info(), 
#get_dtype_counts etc.

In [46]:
cust.shape
cust.index
cust.columns
cust.dtypes.ndim
cust.info()
cust.get_dtype_counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 17 columns):
Customer_ID               10000 non-null int64
Gender                    9986 non-null object
First_Date                10000 non-null int64
First_region              9979 non-null object
First_state               9983 non-null object
First_city                10000 non-null object
Recent_Date               10000 non-null int64
Last_region               10000 non-null object
Last_state                10000 non-null object
Last_city                 10000 non-null object
Customer_Value            9964 non-null float64
Buy_Times                 10000 non-null int64
Points_Earned             9979 non-null float64
Points_Redeemed           9988 non-null float64
Customer_Value_Segment    9961 non-null category
avg_rev_per-trip          9964 non-null float64
Balance_points            9967 non-null float64
dtypes: category(1), float64(5), int64(4), object(7)
memory usage: 1.2+ MB

<bound method DataFrame.get_dtype_counts of       Customer_ID Gender  First_Date First_region     First_state  \
0       129609144      M    20130130         West         Gujarat
1       129627580      M    20130129        North           Delhi
2       130363481      M    20130221         West         Gujarat
3        49817480      M    20130222         West     Maharashtra
4       126343829      F    20130301        North           Delhi
5         8223758      F    20130314         West         Gujarat
6       131816709      M    20130318        South  Andhra Pradesh
7       118543320      F    20130321        North   Uttar Pradesh
8       131365512      M    20130323         East     West Bengal
9          758571      M    20130324        South       Karnataka
10       85489184      M    20120101         West     Maharashtra
11       85438231      M    20120103         West     Maharashtra
12       74053888      F    20120102         West         Gujarat
13        7256956      M    20120102        North       Rajasthan
14        1610085      F    20120103        North           Delhi
15        7518872      M    20120104        North   Uttar Pradesh
16        8638553      M    20120103         West         Gujarat
17       85438392      M    20120103         West         Gujarat
18       63508964      M    20120106         West     Maharashtra
19       23667984      F    20120107         West     Maharashtra
20       84634600      M    20120108        South       Karnataka
21       85207999      M    20120110        South  Andhra Pradesh
22       86066230      M    20120111         West         Gujarat
23        6888521      M    20120112         West     Maharashtra
24       87030390      M    20120111         East     West Bengal
25       85645488      M    20120111        North  Madhya Pradesh
26       12935950      M    20120113         West         Gujarat
27       10954886      F    20120115        North  Madhya Pradesh
28       84437746      M    20120115         East     West Bengal
29        7514232      M    20120114        North           Delhi
...           ...    ...         ...          ...             ...
9970      5599557      F    20120115         West         Gujarat
9971      7956527      F    20120115        North           Delhi
9972     10184222      M    20120116        North   Uttar Pradesh
9973     88092811      M    20120116         West         Gujarat
9974     84750517      F    20120119         West         Gujarat
9975      5686217      M    20120118         West     Maharashtra
9976     63669926      M    20120118        South       Telangana
9977     90964885      M    20120121         West         Gujarat
9978     87989417      M    20120127         West         Gujarat
9979      6005239      M    20120129         East     West Bengal
9980     91066310      M    20120130         West         Gujarat
9981       414338      M    20120131         West         Gujarat
9982      9144258      M    20120130        South      Tamil Nadu
9983     91076263      F    20120130         East     West Bengal
9984     85012902      M    20120201         West         Gujarat
9985     14762484      M    20120131        North  Madhya Pradesh
9986     69453769      M    20120201        South      Tamil Nadu
9987      7060195      M    20120202         West         Gujarat
9988     91095093      M    20120201        South       Telangana
9989     91098168      M    20120201        South      Tamil Nadu
9990     91227615      M    20120203         West         Gujarat
9991     91136028      M    20120203         West     Maharashtra
9992       794622      F    20120203         West         Gujarat
9993     91289992      M    20120205         West     Maharashtra
9994     73876936      M    20120205         West         Gujarat
9995     50093138      M    20120208        North   Uttar Pradesh
9996     92763145      M    20120209        South       Telangana
9997     73839417      M    20120210        South       Karnataka
9998     69606859      M    20120215        North   Uttar Pradesh
9999    113292109      M    20120217         West     Maharashtra

            First_city  Recent_Date Last_region      Last_state  \
0                Surat     20130216        West         Gujarat
1                Delhi     20130129       North           Delhi
2                Surat     20130221        West         Gujarat
3     Pimpri-Chinchwad     20130222        West     Maharashtra
4                Delhi     20130301       North           Delhi
5                Surat     20130314        West         Gujarat
6        Visakhapatnam     20130318       South  Andhra Pradesh
7               Kanpur     20130321       North   Uttar Pradesh
8              Kolkata     20130331        East     West Bengal
9            Bangalore     20130325        West     Maharashtra
10              Nagpur     20120101        West     Maharashtra
11              Mumbai     20121111        East     West Bengal
12               Surat     20130314        West         Gujarat
13              Jaipur     20121126       North       Rajasthan
14               Delhi     20121013       North           Delhi
15              Kanpur     20130123       North   Uttar Pradesh
16           Ahmedabad     20120103        West         Gujarat
17           Ahmedabad     20130212       South       Telangana
18    Pimpri-Chinchwad     20130222        West     Maharashtra
19              Nagpur     20130313        West     Maharashtra
20           Bangalore     20130307       South       Karnataka
21       Visakhapatnam     20121229       South  Andhra Pradesh
22            Vadodara     20120111        West         Gujarat
23               Thane     20121210        West     Maharashtra
24             Kolkata     20130302        East     West Bengal
25              Bhopal     20120111       North  Madhya Pradesh
26               Surat     20120623        West         Gujarat
27              Indore     20130118       North  Madhya Pradesh
28             Kolkata     20130222       South       Karnataka
29               Delhi     20130108       North           Delhi
...                ...          ...         ...             ...
9970            Rajkot     20130330        West         Gujarat
9971             Delhi     20130222       North           Delhi
9972            Kanpur     20121014       North   Uttar Pradesh
9973             Surat     20130222        West         Gujarat
9974             Surat     20130319        West         Gujarat
9975             Thane     20120524        West         Gujarat
9976         Hyderabad     20130114       South       Telangana
9977             Surat     20120121        West         Gujarat
9978             Surat     20120127        West         Gujarat
9979           Kolkata     20121127       South       Telangana
9980             Surat     20130312        West         Gujarat
9981             Surat     20120131        West         Gujarat
9982           Chennai     20130313        West     Maharashtra
9983           Kolkata     20130310        East     West Bengal
9984             Surat     20130310        West         Gujarat
9985            Indore     20121211       North  Madhya Pradesh
9986           Chennai     20120201       South      Tamil Nadu
9987         Ahmedabad     20130328        West         Gujarat
9988         Hyderabad     20120201       South       Telangana
9989           Chennai     20120201       South      Tamil Nadu
9990             Surat     20120203        West         Gujarat
9991            Mumbai     20120523       South       Karnataka
9992             Surat     20120508        West         Gujarat
9993  Pimpri-Chinchwad     20120205        West     Maharashtra
9994             Surat     20130218        West         Gujarat
9995              Agra     20121114       North   Uttar Pradesh
9996         Hyderabad     20130319       South       Telangana
9997         Bangalore     20130216       South       Karnataka
9998           Lucknow     20120215       North   Uttar Pradesh
9999            Mumbai     20120217        West     Maharashtra

             Last_city  Customer_Value  Buy_Times  Points_Earned  \
0                Surat      2032.00000          2          200.0
1                Delhi      1709.00000          1          100.0
2                Surat       523.00000          1           10.0
3     Pimpri-Chinchwad      5132.00000          1          170.0
4                Delhi      1008.00000          1           60.0
5                Surat      2606.90000          1         1140.0
6        Visakhapatnam      1369.00000          1           79.0
7               Kanpur      5690.00000          1          360.0
8              Kolkata      2555.00000          2          190.0
9                Thane      2677.80000          3          145.0
10              Nagpur       855.00000          1           35.0
11            Bhatpara      5969.00000          5          294.0
12               Surat      9142.49700         10          639.0
13              Jaipur      8019.60000          5          609.0
14               Delhi     10380.19900          6         1189.0
15              Kanpur     14587.00000          6          865.0
16           Ahmedabad      1011.00000          1          115.0
17           Hyderabad      6065.30000          5          485.0
18    Pimpri-Chinchwad    145472.70200         36          680.0
19              Nagpur     19640.70000         12          268.0
20           Bangalore     32377.60200         22         1029.0
21       Visakhapatnam     17202.40000         13          449.0
22            Vadodara       900.50000          1          100.0
23    Pimpri-Chinchwad      4588.99900          4          190.0
24             Kolkata     33047.00400         31          141.0
25              Bhopal       878.00000          1           80.0
26           Ahmedabad     18358.00000          6          874.0
27              Indore     15426.39800         13         1672.0
28           Bangalore      5415.00100          6          736.0
29               Delhi     51692.99900         29         4275.0
...                ...             ...        ...            ...
9970            Rajkot     74662.77636         36           22.0
9971             Delhi     66082.19900         37         2385.0
9972            Kanpur      2031.00100          2          215.0
9973             Surat     14786.60000         12          337.0
9974             Surat     20696.90000         11         1935.0
9975             Surat     16858.09900         11          915.0
9976         Hyderabad     12863.00000          4         1030.0
9977             Surat       198.00000          1            0.0
9978             Surat       929.99900          1           50.0
9979         Hyderabad     12246.80000          6          600.0
9980             Surat     11723.00000         10          475.0
9981             Surat      1080.00000          1            0.0
9982            Mumbai     42195.09900         23         4441.0
9983           Kolkata     34492.90100         14         1591.0
9984             Surat     30123.30000          9         1555.0
9985            Bhopal     88407.50000         23         4317.0
9986           Chennai       480.00000          1           10.0
9987         Ahmedabad      6693.20000          3          645.0
9988         Hyderabad       825.99700          1           55.0
9989           Chennai       408.00000          1            0.0
9990             Surat       617.00000          1           35.0
9991         Bangalore      4383.80100          5           10.0
9992             Surat      8081.00000          4          594.0
9993  Pimpri-Chinchwad      1069.00000          1           81.0
9994             Surat      8059.59900          5          647.0
9995              Agra     13818.60000          7         1195.0
9996         Hyderabad     13016.50000          7          870.0
9997         Bangalore     44057.90000         11         2242.0
9998           Lucknow      1116.00000          1            0.0
9999            Mumbai      1222.00000          1           60.0

      Points_Redeemed Customer_Value_Segment  avg_rev_per-trip  Balance_points
0                 0.0      Low Value Segment       1016.000000           200.0
1                 0.0      Low Value Segment       1709.000000           100.0
2                 0.0      Low Value Segment        523.000000            10.0
3                 0.0      Low Value Segment       5132.000000           170.0
4                 0.0      Low Value Segment       1008.000000            60.0
5                 0.0      Low Value Segment       2606.900000          1140.0
6                 0.0      Low Value Segment       1369.000000            79.0
7                 0.0      Low Value Segment       5690.000000           360.0
8                 0.0      Low Value Segment       1277.500000           190.0
9                 0.0      Low Value Segment        892.600000           145.0
10                0.0      Low Value Segment        855.000000            35.0
11                0.0      Low Value Segment       1193.800000           294.0
12                2.0      Low Value Segment        914.249700           637.0
13                0.0      Low Value Segment       1603.920000           609.0
14                0.0   Medium Value Segment       1730.033167          1189.0
15                0.0   Medium Value Segment       2431.166667           865.0
16                0.0      Low Value Segment       1011.000000           115.0
17                0.0      Low Value Segment       1213.060000           485.0
18            16635.0     high Value Segment       4040.908389        -15955.0
19             2549.0   Medium Value Segment       1636.725000         -2281.0
20             1771.0     high Value Segment       1471.709182          -742.0
21                0.0   Medium Value Segment       1323.261538           449.0
22                0.0      Low Value Segment        900.500000           100.0
23                0.0      Low Value Segment       1147.249750           190.0
24             2214.0     high Value Segment       1066.032387         -2073.0
25                0.0      Low Value Segment        878.000000            80.0
26                0.0   Medium Value Segment       3059.666667           874.0
27                0.0   Medium Value Segment       1186.646000          1672.0
28                0.0      Low Value Segment        902.500167           736.0
29               12.0     high Value Segment       1782.517207          4263.0
...               ...                    ...               ...             ...
9970          10472.0     high Value Segment       2073.966010        -10450.0
9971          13520.0     high Value Segment       1786.005378        -11135.0
9972              0.0      Low Value Segment       1015.500500           215.0
9973            300.0   Medium Value Segment       1232.216667            37.0
9974              0.0   Medium Value Segment       1881.536364          1935.0
9975              0.0   Medium Value Segment       1532.554455           915.0
9976              0.0   Medium Value Segment       3215.750000          1030.0
9977              0.0      Low Value Segment        198.000000             0.0
9978              0.0      Low Value Segment        929.999000            50.0
9979              0.0   Medium Value Segment       2041.133333           600.0
9980              0.0   Medium Value Segment       1172.300000           475.0
9981              0.0      Low Value Segment       1080.000000             0.0
9982              0.0     high Value Segment       1834.569522          4441.0
9983              0.0     high Value Segment       2463.778643          1591.0
9984              0.0     high Value Segment       3347.033333          1555.0
9985              0.0     high Value Segment       3843.804348          4317.0
9986            580.0      Low Value Segment        480.000000          -570.0
9987              0.0      Low Value Segment       2231.066667           645.0
9988              0.0      Low Value Segment        825.997000            55.0
9989              0.0      Low Value Segment        408.000000             0.0
9990              0.0      Low Value Segment        617.000000            35.0
9991            370.0      Low Value Segment        876.760200          -360.0
9992              0.0      Low Value Segment       2020.250000           594.0
9993              0.0      Low Value Segment       1069.000000            81.0
9994              0.0      Low Value Segment       1611.919800           647.0
9995           1800.0   Medium Value Segment       1974.085714          -605.0
9996              0.0   Medium Value Segment       1859.500000           870.0
9997            585.0     high Value Segment       4005.263636          1657.0
9998            310.0      Low Value Segment       1116.000000          -310.0
9999              0.0      Low Value Segment       1222.000000            60.0

[10000 rows x 17 columns]>

In [ ]:
#3. What is percentage of missing values for customer Value variable?

In [4]:
x= sum(cust['Customer_Value'].isnull())
y= sum(cust['Customer_Value'])

In [60]:
print(x,y)

(36, 9964)

In [10]:
h=(36/9964)*100
float(h)*1000

0.0

In [ ]:
#4. Create two subsets with unique and duplicate values.

In [11]:
cust[cust.duplicated()==False]

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed
0,129609144,M,20130130,West,Gujarat,Surat,20130216,West,Gujarat,Surat,2032.00000,2,200.0,0.0
1,129627580,M,20130129,North,Delhi,Delhi,20130129,North,Delhi,Delhi,1709.00000,1,100.0,0.0
2,130363481,M,20130221,West,Gujarat,Surat,20130221,West,Gujarat,Surat,523.00000,1,10.0,0.0
3,49817480,M,20130222,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,5132.00000,1,170.0,0.0
4,126343829,F,20130301,North,Delhi,Delhi,20130301,North,Delhi,Delhi,1008.00000,1,60.0,0.0
5,8223758,F,20130314,West,Gujarat,Surat,20130314,West,Gujarat,Surat,2606.90000,1,1140.0,0.0
6,131816709,M,20130318,South,Andhra Pradesh,Visakhapatnam,20130318,South,Andhra Pradesh,Visakhapatnam,1369.00000,1,79.0,0.0
7,118543320,F,20130321,North,Uttar Pradesh,Kanpur,20130321,North,Uttar Pradesh,Kanpur,5690.00000,1,360.0,0.0
8,131365512,M,20130323,East,West Bengal,Kolkata,20130331,East,West Bengal,Kolkata,2555.00000,2,190.0,0.0
9,758571,M,20130324,South,Karnataka,Bangalore,20130325,West,Maharashtra,Thane,2677.80000,3,145.0,0.0
10,85489184,M,20120101,West,Maharashtra,Nagpur,20120101,West,Maharashtra,Nagpur,855.00000,1,35.0,0.0
11,85438231,M,20120103,West,Maharashtra,Mumbai,20121111,East,West Bengal,Bhatpara,5969.00000,5,294.0,0.0
12,74053888,F,20120102,West,Gujarat,Surat,20130314,West,Gujarat,Surat,9142.49700,10,639.0,2.0
13,7256956,M,20120102,North,Rajasthan,Jaipur,20121126,North,Rajasthan,Jaipur,8019.60000,5,609.0,0.0
14,1610085,F,20120103,North,Delhi,Delhi,20121013,North,Delhi,Delhi,10380.19900,6,1189.0,0.0
15,7518872,M,20120104,North,Uttar Pradesh,Kanpur,20130123,North,Uttar Pradesh,Kanpur,14587.00000,6,865.0,0.0
16,8638553,M,20120103,West,Gujarat,Ahmedabad,20120103,West,Gujarat,Ahmedabad,1011.00000,1,115.0,0.0
17,85438392,M,20120103,West,Gujarat,Ahmedabad,20130212,South,Telangana,Hyderabad,6065.30000,5,485.0,0.0
18,63508964,M,20120106,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,145472.70200,36,680.0,16635.0
19,23667984,F,20120107,West,Maharashtra,Nagpur,20130313,West,Maharashtra,Nagpur,19640.70000,12,268.0,2549.0
20,84634600,M,20120108,South,Karnataka,Bangalore,20130307,South,Karnataka,Bangalore,32377.60200,22,1029.0,1771.0
21,85207999,M,20120110,South,Andhra Pradesh,Visakhapatnam,20121229,South,Andhra Pradesh,Visakhapatnam,17202.40000,13,449.0,0.0
22,86066230,M,20120111,West,Gujarat,Vadodara,20120111,West,Gujarat,Vadodara,900.50000,1,100.0,0.0
23,6888521,M,20120112,West,Maharashtra,Thane,20121210,West,Maharashtra,Pimpri-Chinchwad,4588.99900,4,190.0,0.0
24,87030390,M,20120111,East,West Bengal,Kolkata,20130302,East,West Bengal,Kolkata,33047.00400,31,141.0,2214.0
25,85645488,M,20120111,North,Madhya Pradesh,Bhopal,20120111,North,Madhya Pradesh,Bhopal,878.00000,1,80.0,0.0
26,12935950,M,20120113,West,Gujarat,Surat,20120623,West,Gujarat,Ahmedabad,18358.00000,6,874.0,0.0
27,10954886,F,20120115,North,Madhya Pradesh,Indore,20130118,North,Madhya Pradesh,Indore,15426.39800,13,1672.0,0.0
28,84437746,M,20120115,East,West Bengal,Kolkata,20130222,South,Karnataka,Bangalore,5415.00100,6,736.0,0.0
29,7514232,M,20120114,North,Delhi,Delhi,20130108,North,Delhi,Delhi,51692.99900,29,4275.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9943,91066310,M,20120130,West,Gujarat,Surat,20130312,West,Gujarat,Surat,11723.00000,10,475.0,0.0
9944,414338,M,20120131,West,Gujarat,Surat,20120131,West,Gujarat,Surat,1080.00000,1,0.0,0.0
9945,9144258,M,20120130,South,Tamil Nadu,Chennai,20130313,West,Maharashtra,Mumbai,42195.09900,23,4441.0,0.0
9946,91076263,F,20120130,East,West Bengal,Kolkata,20130310,East,West Bengal,Kolkata,34492.90100,14,1591.0,0.0
9947,85012902,M,20120201,West,Gujarat,Surat,20130310,West,Gujarat,Surat,30123.30000,9,1555.0,0.0
9948,14762484,M,20120131,North,Madhya Pradesh,Indore,20121211,North,Madhya Pradesh,Bhopal,88407.50000,23,4317.0,0.0
9949,69453769,M,20120201,South,Tamil Nadu,Chennai,20120201,South,Tamil Nadu,Chennai,480.00000,1,10.0,580.0
9950,7060195,M,20120202,West,Gujarat,Ahmedabad,20130328,West,Gujarat,Ahmedabad,6693.20000,3,645.0,0.0
9951,91095093,M,20120201,South,Telangana,Hyderabad,20120201,South,Telangana,Hyderabad,825.99700,1,55.0,0.0
9952,91098168,M,20120201,South,Tamil Nadu,Chennai,20120201,South,Tamil Nadu,Chennai,408.00000,1,0.0,0.0
9953,91227615,M,20120203,West,Gujarat,Surat,20120203,West,Gujarat,Surat,617.00000,1,35.0,0.0
9954,91136028,M,20120203,West,Maharashtra,Mumbai,20120523,South,Karnataka,Bangalore,4383.80100,5,10.0,370.0
9955,794622,F,20120203,West,Gujarat,Surat,20120508,West,Gujarat,Surat,8081.00000,4,594.0,0.0
9956,91289992,M,20120205,West,Maharashtra,Pimpri-Chinchwad,20120205,West,Maharashtra,Pimpri-Chinchwad,1069.00000,1,81.0,0.0
9957,73876936,M,20120205,West,Gujarat,Surat,20130218,West,Gujarat,Surat,8059.59900,5,647.0,0.0
9958,50093138,M,20120208,North,Uttar Pradesh,Agra,20121114,North,Uttar Pradesh,Agra,13818.60000,7,1195.0,1800.0
9959,92763145,M,20120209,South,Telangana,Hyderabad,20130319,South,Telangana,Hyderabad,13016.50000,7,870.0,0.0
9960,73839417,M,20120210,South,Karnataka,Bangalore,20130216,South,Karnataka,Bangalore,44057.90000,11,2242.0,585.0
9961,69606859,M,20120215,North,Uttar Pradesh,Lucknow,20120215,North,Uttar Pradesh,Lucknow,1116.00000,1,0.0,310.0
9962,113292109,M,20120217,West,Maharashtra,Mumbai,20120217,West,Maharashtra,Mumbai,1222.00000,1,60.0,0.0
9963,5989720,F,20120109,North,Uttar Pradesh,Lucknow,20130221,North,Uttar Pradesh,Lucknow,5408.80000,3,375.0,0.0
9964,74054076,F,20120110,North,Uttar Pradesh,Kanpur,20121117,North,Uttar Pradesh,Kanpur,13485.10100,10,166.0,810.0
9965,86103480,M,20120112,West,Maharashtra,Mumbai,20120112,West,Maharashtra,Mumbai,408.00000,1,0.0,0.0
9966,63594593,M,20120112,East,West Bengal,Siliguri,20130204,East,West Bengal,Siliguri,10379.00000,4,495.0,0.0
9967,87998623,M,20120112,East,West Bengal,Durgapur,20130228,North,Uttar Pradesh,Kanpur,24378.00000,9,1506.0,0.0
9968,60082781,M,20120115,North,Haryana,Gurgaon,20120220,North,Uttar Pradesh,Ghaziabad,3281.90100,4,335.0,100.0
9969,88068705,M,20120116,West,Gujarat,Surat,20120704,West,Gujarat,Surat,10996.00000,3,680.0,0.0
9970,5599557,F,20120115,West,Gujarat,Rajkot,20130330,West,Gujarat,Rajkot,74662.77636,36,22.0,10472.0
9971,7956527,F,20120115,North,Delhi,Delhi,20130222,North,Delhi,Delhi,66082.19900,37,2385.0,13520.0
9972,10184222,M,20120116,North,Uttar Pradesh,Kanpur,20121014,North,Uttar Pradesh,Kanpur,2031.00100,2,215.0,0.0

In [76]:
cust[cust.duplicated()]

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed
9973,88092811,M,20120116,West,Gujarat,Surat,20130222,West,Gujarat,Surat,14786.600,12,337.0,300.0
9974,84750517,F,20120119,West,Gujarat,Surat,20130319,West,Gujarat,Surat,20696.900,11,1935.0,0.0
9975,5686217,M,20120118,West,Maharashtra,Thane,20120524,West,Gujarat,Surat,16858.099,11,915.0,0.0
9976,63669926,M,20120118,South,Telangana,Hyderabad,20130114,South,Telangana,Hyderabad,12863.000,4,1030.0,0.0
9977,90964885,M,20120121,West,Gujarat,Surat,20120121,West,Gujarat,Surat,198.000,1,0.0,0.0
9978,87989417,M,20120127,West,Gujarat,Surat,20120127,West,Gujarat,Surat,929.999,1,50.0,0.0
9979,6005239,M,20120129,East,West Bengal,Kolkata,20121127,South,Telangana,Hyderabad,12246.800,6,600.0,0.0
9980,91066310,M,20120130,West,Gujarat,Surat,20130312,West,Gujarat,Surat,11723.000,10,475.0,0.0
9981,414338,M,20120131,West,Gujarat,Surat,20120131,West,Gujarat,Surat,1080.000,1,0.0,0.0
9982,9144258,M,20120130,South,Tamil Nadu,Chennai,20130313,West,Maharashtra,Mumbai,42195.099,23,4441.0,0.0
9983,91076263,F,20120130,East,West Bengal,Kolkata,20130310,East,West Bengal,Kolkata,34492.901,14,1591.0,0.0
9984,85012902,M,20120201,West,Gujarat,Surat,20130310,West,Gujarat,Surat,30123.300,9,1555.0,0.0
9985,14762484,M,20120131,North,Madhya Pradesh,Indore,20121211,North,Madhya Pradesh,Bhopal,88407.500,23,4317.0,0.0
9986,69453769,M,20120201,South,Tamil Nadu,Chennai,20120201,South,Tamil Nadu,Chennai,480.000,1,10.0,580.0
9987,7060195,M,20120202,West,Gujarat,Ahmedabad,20130328,West,Gujarat,Ahmedabad,6693.200,3,645.0,0.0
9988,91095093,M,20120201,South,Telangana,Hyderabad,20120201,South,Telangana,Hyderabad,825.997,1,55.0,0.0
9989,91098168,M,20120201,South,Tamil Nadu,Chennai,20120201,South,Tamil Nadu,Chennai,408.000,1,0.0,0.0
9990,91227615,M,20120203,West,Gujarat,Surat,20120203,West,Gujarat,Surat,617.000,1,35.0,0.0
9991,91136028,M,20120203,West,Maharashtra,Mumbai,20120523,South,Karnataka,Bangalore,4383.801,5,10.0,370.0
9992,794622,F,20120203,West,Gujarat,Surat,20120508,West,Gujarat,Surat,8081.000,4,594.0,0.0
9993,91289992,M,20120205,West,Maharashtra,Pimpri-Chinchwad,20120205,West,Maharashtra,Pimpri-Chinchwad,1069.000,1,81.0,0.0
9994,73876936,M,20120205,West,Gujarat,Surat,20130218,West,Gujarat,Surat,8059.599,5,647.0,0.0
9995,50093138,M,20120208,North,Uttar Pradesh,Agra,20121114,North,Uttar Pradesh,Agra,13818.600,7,1195.0,1800.0
9996,92763145,M,20120209,South,Telangana,Hyderabad,20130319,South,Telangana,Hyderabad,13016.500,7,870.0,0.0
9997,73839417,M,20120210,South,Karnataka,Bangalore,20130216,South,Karnataka,Bangalore,44057.900,11,2242.0,585.0
9998,69606859,M,20120215,North,Uttar Pradesh,Lucknow,20120215,North,Uttar Pradesh,Lucknow,1116.000,1,0.0,310.0
9999,113292109,M,20120217,West,Maharashtra,Mumbai,20120217,West,Maharashtra,Mumbai,1222.000,1,60.0,0.0

In [77]:
sum(cust.duplicated())

27

In [81]:
sum(cust.duplicated()==False)

9973

In [ ]:
#5. Create data set with list of customers whose customer value greater than 10000.

In [12]:
cust1=cust[cust.Customer_Value>10000]
cust1

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed
14,1610085,F,20120103,North,Delhi,Delhi,20121013,North,Delhi,Delhi,10380.19900,6,1189.0,0.0
15,7518872,M,20120104,North,Uttar Pradesh,Kanpur,20130123,North,Uttar Pradesh,Kanpur,14587.00000,6,865.0,0.0
18,63508964,M,20120106,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,145472.70200,36,680.0,16635.0
19,23667984,F,20120107,West,Maharashtra,Nagpur,20130313,West,Maharashtra,Nagpur,19640.70000,12,268.0,2549.0
20,84634600,M,20120108,South,Karnataka,Bangalore,20130307,South,Karnataka,Bangalore,32377.60200,22,1029.0,1771.0
21,85207999,M,20120110,South,Andhra Pradesh,Visakhapatnam,20121229,South,Andhra Pradesh,Visakhapatnam,17202.40000,13,449.0,0.0
24,87030390,M,20120111,East,West Bengal,Kolkata,20130302,East,West Bengal,Kolkata,33047.00400,31,141.0,2214.0
26,12935950,M,20120113,West,Gujarat,Surat,20120623,West,Gujarat,Ahmedabad,18358.00000,6,874.0,0.0
27,10954886,F,20120115,North,Madhya Pradesh,Indore,20130118,North,Madhya Pradesh,Indore,15426.39800,13,1672.0,0.0
29,7514232,M,20120114,North,Delhi,Delhi,20130108,North,Delhi,Delhi,51692.99900,29,4275.0,12.0
30,328670,M,20120115,North,Delhi,Delhi,20130302,North,Delhi,Delhi,10547.79600,11,574.0,2120.0
31,237645,M,20120117,North,Madhya Pradesh,Indore,20130318,North,Madhya Pradesh,Indore,173171.70000,34,12737.0,0.0
32,36292837,M,20120118,West,Gujarat,Surat,20130313,West,Gujarat,Surat,18412.20000,19,158.0,1260.0
35,73792250,M,20120128,West,Gujarat,Surat,20130305,West,Gujarat,Surat,29460.00000,6,2440.0,0.0
37,73957360,M,20120129,West,Gujarat,Surat,20130306,West,Gujarat,Surat,28291.29800,29,225.0,1886.0
38,8068420,F,20120131,North,Uttar Pradesh,Kanpur,20130224,South,Tamil Nadu,Chennai,11316.00100,6,684.0,267.0
39,3021033,M,20120131,South,Karnataka,Bangalore,20130218,South,Karnataka,Bangalore,48674.40100,6,244.0,2270.0
40,5912830,F,20120202,East,West Bengal,South Dumdum,20130318,East,Jharkhand,Dhanbad,15478.00000,9,1895.0,0.0
42,9046409,M,20120206,West,Maharashtra,Mumbai,20130327,West,Maharashtra,Mumbai,20520.80000,13,641.0,780.0
43,93630,M,20120208,West,Gujarat,Surat,20130202,West,Gujarat,Surat,11148.00000,7,960.0,0.0
44,85323066,F,20120208,West,Maharashtra,Mumbai,20130202,West,Maharashtra,Mumbai,41852.79800,16,1453.0,415.0
45,303753,M,20120208,North,Madhya Pradesh,Indore,20130321,North,Madhya Pradesh,Indore,54342.00000,32,2061.0,9320.0
46,49886011,F,20120208,West,Maharashtra,Mumbai,20120518,South,Karnataka,Bangalore,15092.80000,5,1381.0,0.0
50,85613515,M,20120213,West,Gujarat,Surat,20130312,West,Gujarat,Surat,37192.00100,13,1837.0,540.0
53,55802349,F,20120224,West,Gujarat,Ahmedabad,20130225,West,Gujarat,Ahmedabad,15695.50000,9,983.0,0.0
54,84874275,M,20120224,West,Maharashtra,Pimpri-Chinchwad,20130322,West,Maharashtra,Pimpri-Chinchwad,107078.39900,37,4083.0,0.0
55,6898330,F,20120227,West,Gujarat,Surat,20130308,West,Gujarat,Surat,20211.90000,17,1205.0,0.0
57,113932157,F,20120302,West,Gujarat,Surat,20130201,West,Gujarat,Surat,32085.69800,16,537.0,2401.0
58,1747708,F,20120303,South,Karnataka,Bangalore,20130324,North,Madhya Pradesh,Indore,18881.78574,14,588.0,2481.0
59,2780625,M,20120303,West,Gujarat,Surat,20130124,West,Gujarat,Surat,16471.90100,9,555.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9938,5686217,M,20120118,West,Maharashtra,Thane,20120524,West,Gujarat,Surat,16858.09900,11,915.0,0.0
9939,63669926,M,20120118,South,Telangana,Hyderabad,20130114,South,Telangana,Hyderabad,12863.00000,4,1030.0,0.0
9942,6005239,M,20120129,East,West Bengal,Kolkata,20121127,South,Telangana,Hyderabad,12246.80000,6,600.0,0.0
9943,91066310,M,20120130,West,Gujarat,Surat,20130312,West,Gujarat,Surat,11723.00000,10,475.0,0.0
9945,9144258,M,20120130,South,Tamil Nadu,Chennai,20130313,West,Maharashtra,Mumbai,42195.09900,23,4441.0,0.0
9946,91076263,F,20120130,East,West Bengal,Kolkata,20130310,East,West Bengal,Kolkata,34492.90100,14,1591.0,0.0
9947,85012902,M,20120201,West,Gujarat,Surat,20130310,West,Gujarat,Surat,30123.30000,9,1555.0,0.0
9948,14762484,M,20120131,North,Madhya Pradesh,Indore,20121211,North,Madhya Pradesh,Bhopal,88407.50000,23,4317.0,0.0
9958,50093138,M,20120208,North,Uttar Pradesh,Agra,20121114,North,Uttar Pradesh,Agra,13818.60000,7,1195.0,1800.0
9959,92763145,M,20120209,South,Telangana,Hyderabad,20130319,South,Telangana,Hyderabad,13016.50000,7,870.0,0.0
9960,73839417,M,20120210,South,Karnataka,Bangalore,20130216,South,Karnataka,Bangalore,44057.90000,11,2242.0,585.0
9964,74054076,F,20120110,North,Uttar Pradesh,Kanpur,20121117,North,Uttar Pradesh,Kanpur,13485.10100,10,166.0,810.0
9966,63594593,M,20120112,East,West Bengal,Siliguri,20130204,East,West Bengal,Siliguri,10379.00000,4,495.0,0.0
9967,87998623,M,20120112,East,West Bengal,Durgapur,20130228,North,Uttar Pradesh,Kanpur,24378.00000,9,1506.0,0.0
9969,88068705,M,20120116,West,Gujarat,Surat,20120704,West,Gujarat,Surat,10996.00000,3,680.0,0.0
9970,5599557,F,20120115,West,Gujarat,Rajkot,20130330,West,Gujarat,Rajkot,74662.77636,36,22.0,10472.0
9971,7956527,F,20120115,North,Delhi,Delhi,20130222,North,Delhi,Delhi,66082.19900,37,2385.0,13520.0
9973,88092811,M,20120116,West,Gujarat,Surat,20130222,West,Gujarat,Surat,14786.60000,12,337.0,300.0
9974,84750517,F,20120119,West,Gujarat,Surat,20130319,West,Gujarat,Surat,20696.90000,11,1935.0,0.0
9975,5686217,M,20120118,West,Maharashtra,Thane,20120524,West,Gujarat,Surat,16858.09900,11,915.0,0.0
9976,63669926,M,20120118,South,Telangana,Hyderabad,20130114,South,Telangana,Hyderabad,12863.00000,4,1030.0,0.0
9979,6005239,M,20120129,East,West Bengal,Kolkata,20121127,South,Telangana,Hyderabad,12246.80000,6,600.0,0.0
9980,91066310,M,20120130,West,Gujarat,Surat,20130312,West,Gujarat,Surat,11723.00000,10,475.0,0.0
9982,9144258,M,20120130,South,Tamil Nadu,Chennai,20130313,West,Maharashtra,Mumbai,42195.09900,23,4441.0,0.0
9983,91076263,F,20120130,East,West Bengal,Kolkata,20130310,East,West Bengal,Kolkata,34492.90100,14,1591.0,0.0
9984,85012902,M,20120201,West,Gujarat,Surat,20130310,West,Gujarat,Surat,30123.30000,9,1555.0,0.0
9985,14762484,M,20120131,North,Madhya Pradesh,Indore,20121211,North,Madhya Pradesh,Bhopal,88407.50000,23,4317.0,0.0
9995,50093138,M,20120208,North,Uttar Pradesh,Agra,20121114,North,Uttar Pradesh,Agra,13818.60000,7,1195.0,1800.0
9996,92763145,M,20120209,South,Telangana,Hyderabad,20130319,South,Telangana,Hyderabad,13016.50000,7,870.0,0.0
9997,73839417,M,20120210,South,Karnataka,Bangalore,20130216,South,Karnataka,Bangalore,44057.90000,11,2242.0,585.0

In [ ]:
#6. In customer table, create a new variable called customer value segment using customer value as follows. -  
#- High Value Segment - > 25000  
#- Medium Value Segment  Between 10000 and 25000  
#- Low Value Segment  less than or equal to 10000

In [13]:
cust['Customer_Value_Segment']=pd.cut(cust['Customer_Value'], bins=[0, 10000,25000,30000000], 
       labels=['Low Value Segment', "Medium Value Segment", "high Value Segment"])
cust['Customer_Value_Segment']

0          Low Value Segment
1          Low Value Segment
2          Low Value Segment
3          Low Value Segment
4          Low Value Segment
5          Low Value Segment
6          Low Value Segment
7          Low Value Segment
8          Low Value Segment
9          Low Value Segment
10         Low Value Segment
11         Low Value Segment
12         Low Value Segment
13         Low Value Segment
14      Medium Value Segment
15      Medium Value Segment
16         Low Value Segment
17         Low Value Segment
18        high Value Segment
19      Medium Value Segment
20        high Value Segment
21      Medium Value Segment
22         Low Value Segment
23         Low Value Segment
24        high Value Segment
25         Low Value Segment
26      Medium Value Segment
27      Medium Value Segment
28         Low Value Segment
29        high Value Segment
                ...
9970      high Value Segment
9971      high Value Segment
9972       Low Value Segment
9973    Medium Value Segment
9974    Medium Value Segment
9975    Medium Value Segment
9976    Medium Value Segment
9977       Low Value Segment
9978       Low Value Segment
9979    Medium Value Segment
9980    Medium Value Segment
9981       Low Value Segment
9982      high Value Segment
9983      high Value Segment
9984      high Value Segment
9985      high Value Segment
9986       Low Value Segment
9987       Low Value Segment
9988       Low Value Segment
9989       Low Value Segment
9990       Low Value Segment
9991       Low Value Segment
9992       Low Value Segment
9993       Low Value Segment
9994       Low Value Segment
9995    Medium Value Segment
9996    Medium Value Segment
9997      high Value Segment
9998       Low Value Segment
9999       Low Value Segment
Name: Customer_Value_Segment, Length: 10000, dtype: category
Categories (3, object): [Low Value Segment < Medium Value Segment < high Value Segment]

In [100]:
cust.Customer_Value_Segment.where((cust.Customer_Value_Segment=='high Value Segment')).value_counts()

high Value Segment    1118
Name: Customer_Value_Segment, dtype: int64

In [ ]:
#7. Create variables average revenue per trip and balance points in the customer data set.

In [14]:
cust['avg_rev_per-trip']=cust['Customer_Value']/cust['Buy_Times']
cust['Balance_points']=cust['Points_Earned']-cust['Points_Redeemed']
cust

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed,Customer_Value_Segment,avg_rev_per-trip,Balance_points
0,129609144,M,20130130,West,Gujarat,Surat,20130216,West,Gujarat,Surat,2032.00000,2,200.0,0.0,Low Value Segment,1016.000000,200.0
1,129627580,M,20130129,North,Delhi,Delhi,20130129,North,Delhi,Delhi,1709.00000,1,100.0,0.0,Low Value Segment,1709.000000,100.0
2,130363481,M,20130221,West,Gujarat,Surat,20130221,West,Gujarat,Surat,523.00000,1,10.0,0.0,Low Value Segment,523.000000,10.0
3,49817480,M,20130222,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,5132.00000,1,170.0,0.0,Low Value Segment,5132.000000,170.0
4,126343829,F,20130301,North,Delhi,Delhi,20130301,North,Delhi,Delhi,1008.00000,1,60.0,0.0,Low Value Segment,1008.000000,60.0
5,8223758,F,20130314,West,Gujarat,Surat,20130314,West,Gujarat,Surat,2606.90000,1,1140.0,0.0,Low Value Segment,2606.900000,1140.0
6,131816709,M,20130318,South,Andhra Pradesh,Visakhapatnam,20130318,South,Andhra Pradesh,Visakhapatnam,1369.00000,1,79.0,0.0,Low Value Segment,1369.000000,79.0
7,118543320,F,20130321,North,Uttar Pradesh,Kanpur,20130321,North,Uttar Pradesh,Kanpur,5690.00000,1,360.0,0.0,Low Value Segment,5690.000000,360.0
8,131365512,M,20130323,East,West Bengal,Kolkata,20130331,East,West Bengal,Kolkata,2555.00000,2,190.0,0.0,Low Value Segment,1277.500000,190.0
9,758571,M,20130324,South,Karnataka,Bangalore,20130325,West,Maharashtra,Thane,2677.80000,3,145.0,0.0,Low Value Segment,892.600000,145.0
10,85489184,M,20120101,West,Maharashtra,Nagpur,20120101,West,Maharashtra,Nagpur,855.00000,1,35.0,0.0,Low Value Segment,855.000000,35.0
11,85438231,M,20120103,West,Maharashtra,Mumbai,20121111,East,West Bengal,Bhatpara,5969.00000,5,294.0,0.0,Low Value Segment,1193.800000,294.0
12,74053888,F,20120102,West,Gujarat,Surat,20130314,West,Gujarat,Surat,9142.49700,10,639.0,2.0,Low Value Segment,914.249700,637.0
13,7256956,M,20120102,North,Rajasthan,Jaipur,20121126,North,Rajasthan,Jaipur,8019.60000,5,609.0,0.0,Low Value Segment,1603.920000,609.0
14,1610085,F,20120103,North,Delhi,Delhi,20121013,North,Delhi,Delhi,10380.19900,6,1189.0,0.0,Medium Value Segment,1730.033167,1189.0
15,7518872,M,20120104,North,Uttar Pradesh,Kanpur,20130123,North,Uttar Pradesh,Kanpur,14587.00000,6,865.0,0.0,Medium Value Segment,2431.166667,865.0
16,8638553,M,20120103,West,Gujarat,Ahmedabad,20120103,West,Gujarat,Ahmedabad,1011.00000,1,115.0,0.0,Low Value Segment,1011.000000,115.0
17,85438392,M,20120103,West,Gujarat,Ahmedabad,20130212,South,Telangana,Hyderabad,6065.30000,5,485.0,0.0,Low Value Segment,1213.060000,485.0
18,63508964,M,20120106,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,145472.70200,36,680.0,16635.0,high Value Segment,4040.908389,-15955.0
19,23667984,F,20120107,West,Maharashtra,Nagpur,20130313,West,Maharashtra,Nagpur,19640.70000,12,268.0,2549.0,Medium Value Segment,1636.725000,-2281.0
20,84634600,M,20120108,South,Karnataka,Bangalore,20130307,South,Karnataka,Bangalore,32377.60200,22,1029.0,1771.0,high Value Segment,1471.709182,-742.0
21,85207999,M,20120110,South,Andhra Pradesh,Visakhapatnam,20121229,South,Andhra Pradesh,Visakhapatnam,17202.40000,13,449.0,0.0,Medium Value Segment,1323.261538,449.0
22,86066230,M,20120111,West,Gujarat,Vadodara,20120111,West,Gujarat,Vadodara,900.50000,1,100.0,0.0,Low Value Segment,900.500000,100.0
23,6888521,M,20120112,West,Maharashtra,Thane,20121210,West,Maharashtra,Pimpri-Chinchwad,4588.99900,4,190.0,0.0,Low Value Segment,1147.249750,190.0
24,87030390,M,20120111,East,West Bengal,Kolkata,20130302,East,West Bengal,Kolkata,33047.00400,31,141.0,2214.0,high Value Segment,1066.032387,-2073.0
25,85645488,M,20120111,North,Madhya Pradesh,Bhopal,20120111,North,Madhya Pradesh,Bhopal,878.00000,1,80.0,0.0,Low Value Segment,878.000000,80.0
26,12935950,M,20120113,West,Gujarat,Surat,20120623,West,Gujarat,Ahmedabad,18358.00000,6,874.0,0.0,Medium Value Segment,3059.666667,874.0
27,10954886,F,20120115,North,Madhya Pradesh,Indore,20130118,North,Madhya Pradesh,Indore,15426.39800,13,1672.0,0.0,Medium Value Segment,1186.646000,1672.0
28,84437746,M,20120115,East,West Bengal,Kolkata,20130222,South,Karnataka,Bangalore,5415.00100,6,736.0,0.0,Low Value Segment,902.500167,736.0
29,7514232,M,20120114,North,Delhi,Delhi,20130108,North,Delhi,Delhi,51692.99900,29,4275.0,12.0,high Value Segment,1782.517207,4263.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,5599557,F,20120115,West,Gujarat,Rajkot,20130330,West,Gujarat,Rajkot,74662.77636,36,22.0,10472.0,high Value Segment,2073.966010,-10450.0
9971,7956527,F,20120115,North,Delhi,Delhi,20130222,North,Delhi,Delhi,66082.19900,37,2385.0,13520.0,high Value Segment,1786.005378,-11135.0
9972,10184222,M,20120116,North,Uttar Pradesh,Kanpur,20121014,North,Uttar Pradesh,Kanpur,2031.00100,2,215.0,0.0,Low Value Segment,1015.500500,215.0
9973,88092811,M,20120116,West,Gujarat,Surat,20130222,West,Gujarat,Surat,14786.60000,12,337.0,300.0,Medium Value Segment,1232.216667,37.0
9974,84750517,F,20120119,West,Gujarat,Surat,20130319,West,Gujarat,Surat,20696.90000,11,1935.0,0.0,Medium Value Segment,1881.536364,1935.0
9975,5686217,M,20120118,West,Maharashtra,Thane,20120524,West,Gujarat,Surat,16858.09900,11,915.0,0.0,Medium Value Segment,1532.554455,915.0
9976,63669926,M,20120118,South,Telangana,Hyderabad,20130114,South,Telangana,Hyderabad,12863.00000,4,1030.0,0.0,Medium Value Segment,3215.750000,1030.0
9977,90964885,M,20120121,West,Gujarat,Surat,20120121,West,Gujarat,Surat,198.00000,1,0.0,0.0,Low Value Segment,198.000000,0.0
9978,87989417,M,20120127,West,Gujarat,Surat,20120127,West,Gujarat,Surat,929.99900,1,50.0,0.0,Low Value Segment,929.999000,50.0
9979,6005239,M,20120129,East,West Bengal,Kolkata,20121127,South,Telangana,Hyderabad,12246.80000,6,600.0,0.0,Medium Value Segment,2041.133333,600.0
9980,91066310,M,20120130,West,Gujarat,Surat,20130312,West,Gujarat,Surat,11723.00000,10,475.0,0.0,Medium Value Segment,1172.300000,475.0
9981,414338,M,20120131,West,Gujarat,Surat,20120131,West,Gujarat,Surat,1080.00000,1,0.0,0.0,Low Value Segment,1080.000000,0.0
9982,9144258,M,20120130,South,Tamil Nadu,Chennai,20130313,West,Maharashtra,Mumbai,42195.09900,23,4441.0,0.0,high Value Segment,1834.569522,4441.0
9983,91076263,F,20120130,East,West Bengal,Kolkata,20130310,East,West Bengal,Kolkata,34492.90100,14,1591.0,0.0,high Value Segment,2463.778643,1591.0
9984,85012902,M,20120201,West,Gujarat,Surat,20130310,West,Gujarat,Surat,30123.30000,9,1555.0,0.0,high Value Segment,3347.033333,1555.0
9985,14762484,M,20120131,North,Madhya Pradesh,Indore,20121211,North,Madhya Pradesh,Bhopal,88407.50000,23,4317.0,0.0,high Value Segment,3843.804348,4317.0
9986,69453769,M,20120201,South,Tamil Nadu,Chennai,20120201,South,Tamil Nadu,Chennai,480.00000,1,10.0,580.0,Low Value Segment,480.000000,-570.0
9987,7060195,M,20120202,West,Gujarat,Ahmedabad,20130328,West,Gujarat,Ahmedabad,6693.20000,3,645.0,0.0,Low Value Segment,2231.066667,645.0
9988,91095093,M,20120201,South,Telangana,Hyderabad,20120201,South,Telangana,Hyderabad,825.99700,1,55.0,0.0,Low Value Segment,825.997000,55.0
9989,91098168,M,20120201,South,Tamil Nadu,Chennai,20120201,South,Tamil Nadu,Chennai,408.00000,1,0.0,0.0,Low Value Segment,408.000000,0.0
9990,91227615,M,20120203,West,Gujarat,Surat,20120203,West,Gujarat,Surat,617.00000,1,35.0,0.0,Low Value Segment,617.000000,35.0
9991,91136028,M,20120203,West,Maharashtra,Mumbai,20120523,South,Karnataka,Bangalore,4383.80100,5,10.0,370.0,Low Value Segment,876.760200,-360.0
9992,794622,F,20120203,West,Gujarat,Surat,20120508,West,Gujarat,Surat,8081.00000,4,594.0,0.0,Low Value Segment,2020.250000,594.0
9993,91289992,M,20120205,West,Maharashtra,Pimpri-Chinchwad,20120205,West,Maharashtra,Pimpri-Chinchwad,1069.00000,1,81.0,0.0,Low Value Segment,1069.000000,81.0
9994,73876936,M,20120205,West,Gujarat,Surat,20130218,West,Gujarat,Surat,8059.59900,5,647.0,0.0,Low Value Segment,1611.919800,647.0
9995,50093138,M,20120208,North,Uttar Pradesh,Agra,20121114,North,Uttar Pradesh,Agra,13818.60000,7,1195.0,1800.0,Medium Value Segment,1974.085714,-605.0
9996,92763145,M,20120209,South,Telangana,Hyderabad,20130319,South,Telangana,Hyderabad,13016.50000,7,870.0,0.0,Medium Value Segment,1859.500000,870.0
9997,73839417,M,20120210,South,Karnataka,Bangalore,20130216,South,Karnataka,Bangalore,44057.90000,11,2242.0,585.0,high Value Segment,4005.263636,1657.0
9998,69606859,M,20120215,North,Uttar Pradesh,Lucknow,20120215,North,Uttar Pradesh,Lucknow,1116.00000,1,0.0,310.0,Low Value Segment,1116.000000,-310.0
9999,113292109,M,20120217,West,Maharashtra,Mumbai,20120217,West,Maharashtra,Mumbai,1222.00000,1,60.0,0.0,Low Value Segment,1222.000000,60.0

In [ ]:
#8. How many days between last purchase date and today?

In [26]:
dt.datetime.today.
(max(cust.Recent_Date)-dt.datetime.today()).days

TypeError: unsupported operand type(s) for -: 'long' and 'datetime.datetime'

In [ ]:
#9. Calculate percentage of sales by each last city, state and region.

In [32]:
total=cust.groupby(by=['Last_region'])['Customer_Value'].sum().sum()
#(cust.groupby(by=['Last_city','Last_state','Last_region'])['Customer_Value'].sum()/total)*100
(cust.groupby(by=['Last_region','Last_state','Last_city'])['Customer_Value'].sum()/total)*100

Last_region  Last_state         Last_city
East         Assam              Guwahati             1.557344
             Bihar              Begusarai            0.020559
                                Bhagalpur            0.002230
                                Katihar              0.046883
                                Patna                0.185101
                                Purnia               0.005867
             Jharkhand          Dhanbad              0.197452
                                Jamshedpur           0.002848
                                Ranchi               0.045349
             Tripura            Agartala             0.018824
             West Bengal        Asansol              0.003035
                                Baranagar            0.015954
                                Barasat              0.004028
                                Bhatpara             0.063541
                                Howrah               0.017803
                                Kolkata              5.573430
                                North Dumdum         0.022836
                                Panihati             0.005539
                                Rajpur Sonarpur      0.001733
                                Siliguri             0.008303
North        Chandigarh         Chandigarh           0.032769
             Chhattisgarh       Korba                0.002229
                                Raipur               0.003093
             Delhi              Delhi                8.581290
                                Karawal Nagar        0.007829
                                New Delhi            0.002128
             Haryana            Gurgaon              0.126261
                                Karnal               0.002138
                                Sonipat              0.013100
             Jammu and Kashmir  Srinagar             0.004879
                                                      ...
South        Tamil Nadu         Chennai              4.401183
                                Madurai              0.109663
                                Nagercoil            0.005092
                                Salem                0.024825
                                Thoothukudi          0.041887
                                Tirunelveli          0.006834
                                Tiruvottiyur         0.011947
             Telangana          Hyderabad            3.806798
                                Karimnagar           0.005459
                                Khammam              0.000783
                                Warangal             0.008033
West         Gujarat            Ahmedabad            6.063446
                                Gandhidham           0.001671
                                Jamnagar             0.070837
                                Rajkot               3.641762
                                Surat               24.816565
                                Vadodara             2.985721
             Maharashtra        Ambernath            0.003868
                                Aurangabad           0.077173
                                Bhiwandi             0.003119
                                Ichalkaranji         0.028583
                                Mira-Bhayandar       0.190272
                                Mumbai               5.090910
                                Nagpur               1.690925
                                Nashik               0.737115
                                Navi Mumbai          0.010617
                                Pimpri-Chinchwad     3.314578
                                Thane                0.237204
                                Ulhasnagar           0.005667
                                Vasai-Virar          0.085952
Name: Customer_Value, Length: 116, dtype: float64

In [1]:
#10. What is the count of customers, average number of purchases and average purchase transaction value by last state 
#and city.

In [37]:
cust.groupby(by=['Last_state','Last_city'])['Customer_ID'].count()
cust.groupby(by=['Last_state','Last_city'])['Buy_Times'].mean()
cust.groupby(by=['Last_state','Last_city'])

Last_state         Last_city
Andhra Pradesh     Guntur              3.000000
                   Kurnool             4.000000
                   Tirupati            6.000000
                   Vijayawada         10.100000
                   Visakhapatnam       4.666667
                   Vizianagaram       12.000000
Assam              Guwahati           27.766667
Bihar              Begusarai           9.000000
                   Bhagalpur           3.000000
                   Katihar            11.500000
                   Patna               6.000000
                   Purnia              4.000000
Chandigarh         Chandigarh          4.000000
Chhattisgarh       Korba               3.000000
                   Raipur              3.000000
Delhi              Delhi               5.084139
                   Karawal Nagar       4.000000
                   New Delhi           3.000000
Gujarat            Ahmedabad           5.661836
                   Gandhidham          2.000000
                   Jamnagar           10.166667
                   Rajkot              8.685106
                   Surat               5.418430
                   Vadodara            4.432990
Haryana            Gurgaon            63.000000
                   Karnal              2.000000
                   Sonipat            13.000000
Jammu and Kashmir  Srinagar            4.000000
Jharkhand          Dhanbad             4.777778
                   Jamshedpur          2.000000
                                        ...
Uttar Pradesh      Aligarh             4.000000
                   Allahabad           3.500000
                   Bareilly            4.000000
                   Etawah              9.000000
                   Firozabad           6.750000
                   Ghaziabad           6.592593
                   Gorakhpur           2.750000
                   Kanpur              4.956674
                   Loni                4.500000
                   Lucknow             3.785388
                   Mathura             8.166667
                   Mau                 4.000000
                   Meerut              4.428571
                   Mirzapur            3.000000
                   Muzaffarnagar       4.500000
                   Noida               6.000000
                   Rampur              4.000000
                   Saharanpur          9.500000
Uttarakhand        Dehradun            2.000000
                   Haridwar            6.000000
West Bengal        Asansol             3.000000
                   Baranagar           3.500000
                   Barasat             2.000000
                   Bhatpara           10.500000
                   Howrah              4.333333
                   Kolkata             6.046041
                   North Dumdum        3.333333
                   Panihati            7.000000
                   Rajpur Sonarpur     2.000000
                   Siliguri            4.000000
Name: Buy_Times, Length: 116, dtype: float64