# Pandas Exercise: Time Series (Getting Financial Data - Google Finance)

### Step 1. Import the necessary libraries

In [23]:
import quandl as quandl
import pandas as pd
import datetime as dt

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [28]:
#start=pd.datetime.date(2015,1,11)

#dt=pd.date_range(pd.datetime(2015, 1, 1), pd.datetime.date, freq="W")
start=dt.datetime(2015,1,1)
end=dt.datetime.today()
end-start

datetime.timedelta(1338, 47812, 233000)

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [33]:
stocks=[['Apple','Tesla','Twitter','IBM','LinkedIn']]
stocks

[['Apple', 'Tesla', 'Twitter', 'IBM', 'LinkedIn']]

### Step 4. Read the data from google, assign to df and print it

In [53]:
mydata = quandl.get("NASDAQOMX/NQUSB8775LM",authtoken='g4zuaqrPV5yo4qzzqyx9')
mydata.head()

            Index Value  High  Low  Total Market Value  Dividend Market Value
Trade Date
2013-09-20       891.42   0.0  0.0        3.766752e+10                    0.0
2013-09-23       886.78   0.0  0.0        5.565831e+10                    0.0
2013-09-24       889.59   0.0  0.0        5.583517e+10                    0.0
2013-09-25       885.93   0.0  0.0        5.560500e+10                    0.0
2013-09-26       890.91   0.0  0.0        5.591773e+10                    0.0

In [49]:
df = quandl.get("FRED/GDP", start_date="2001-12-31", end_date="2005-12-31")
df

                Value
Date
2002-01-01  10788.952
2002-04-01  10893.207
2002-07-01  10992.051
2002-10-01  11071.463
2003-01-01  11183.507
2003-04-01  11312.875
2003-07-01  11567.326
2003-10-01  11769.275
2004-01-01  11920.169
2004-04-01  12108.987
2004-07-01  12303.340
2004-10-01  12522.425
2005-01-01  12761.337
2005-04-01  12910.022
2005-07-01  13142.873
2005-10-01  13332.316

In [36]:
mydata.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
1980-12-12,28.75,28.87,28.75,28.75,2093900.0,0.0,1.0,0.422706,0.424470,0.422706,0.422706,117258400.0
1980-12-15,27.38,27.38,27.25,27.25,785200.0,0.0,1.0,0.402563,0.402563,0.400652,0.400652,43971200.0
1980-12-16,25.37,25.37,25.25,25.25,472000.0,0.0,1.0,0.373010,0.373010,0.371246,0.371246,26432000.0
1980-12-17,25.87,26.00,25.87,25.87,385900.0,0.0,1.0,0.380362,0.382273,0.380362,0.380362,21610400.0
1980-12-18,26.63,26.75,26.63,26.63,327900.0,0.0,1.0,0.391536,0.393300,0.391536,0.391536,18362400.0

### Step 5.  What is the type of structure of df ?

In [11]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 9400 entries, 1980-12-12 to 2018-03-27
Data columns (total 12 columns):
Open           9400 non-null float64
High           9400 non-null float64
Low            9400 non-null float64
Close          9400 non-null float64
Volume         9400 non-null float64
Ex-Dividend    9400 non-null float64
Split Ratio    9400 non-null float64
Adj. Open      9400 non-null float64
Adj. High      9400 non-null float64
Adj. Low       9400 non-null float64
Adj. Close     9400 non-null float64
Adj. Volume    9400 non-null float64
dtypes: float64(12)
memory usage: 954.7 KB

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

In [43]:
vol=mydata['Volume']
vol.head()

Date
1980-12-12    2093900.0
1980-12-15     785200.0
1980-12-16     472000.0
1980-12-17     385900.0
1980-12-18     327900.0
Name: Volume, dtype: float64

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

In [47]:
 vol.index.week

AttributeError: 'Index' object has no attribute 'week'

### Step 9. Find all the volume traded in the year of 2015

### BONUS: Create your own question and answer it.